nav {
  background-color: var(--black);
  position: relative;
}
nav ul {
  padding-left: 0;
}
nav .logo {
  position: absolute;
  left: 20px;
}
nav .menu {
  position: absolute;
  right: 20px;
}
nav li img {
  width: 30px;
  margin-right: 5px;
}

nav li a {
  font-size: 20px;
  line-height: 24px;
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
