.hero {
  background: var(--black);
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 56px;
}
.hero .title {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--white);
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translate(50%, 0);
  z-index: 1;
}
.hero-images {
  width: auto;
  height: 500px;
  position: relative;
}
.banner {
  position: relative;
  margin-bottom: 100px;
}
.vignette-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 100px 120px var(--black) inset;
  background: radial-gradient(rgba(12, 12, 12, 0), var(--black));
  z-index: 2;
}
.slide1 {
  background-image: url('../../assets/spiderman.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide2 {
  background-image: url('../../assets/marvels-avenger.jpg');
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide3 {
  background-image: url('../../assets/frozen-1.jpg');
  background-position: center -60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide4 {
  background-image: url('../../assets/car-game.jpg');
  background-position: center -130px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-content {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 100px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: left;
}
.brand-logo {
  width: 250px;
  margin-bottom: 40px;
}
.slide-content h5 {
  margin-bottom: 20px;
}
.btn-main {
  border-radius: 10px;
  background-color: var(--magenta);
  color: var(--white);
  display: block;
  padding: 12px 40px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 0;
}
.title h1 {
  margin-bottom: 20px;
}
.play-bg,
.learn-bg,
.enjoy-bg,
.train-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 140px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 10px;
  color: var(--white);
}
.play-bg {
  background-image: url('../../assets/blue.jpg');
}

.learn-bg {
  background-image: url('../../assets/yellow.jpg');
}
.enjoy-bg {
  background-image: url('../../assets/purple.jpg');
}
.train-bg {
  background-image: url('../../assets/green.jpg');
}

.play-bg img,
.learn-bg img,
.enjoy-bg img,
.train-bg img {
  position: absolute;
  top: -30px;
  z-index: 2;
  max-height: 110px;
}
@media only screen and (max-width: 768px) {
  .vignette-border {
    box-shadow: 0px 0px 60px 80px var(--black) inset;
  }
  .slide-content {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }
  .slide-content h5 {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .title {
    padding: 0 20px;
  }
  .title h1 {
    font-size: 30px !important;
    line-height: 34px !important;
  }
  .title h4 {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}
@media only screen and (max-width: 380px) {
  .title h1 {
    font-size: 24px !important;
    line-height: 30px !important;
  }
  .title h4 {
    font-size: 16px !important;
    line-height: 20px !important;
  }
}
